/* Enter your custom styles here */

.productNumber .sapMObjectNumberText {
    font-size: 1.312rem;
}

.deleteOrderItemButton .sapMBtn {
    height: auto !important;
}

.orderItemList {
    border-top: 1px solid #e5e5e5
}

.menuItemIcon {
	max-height: 40px !important;
}